---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJ0ZXN0LWRyaXZlLXNoZWV0cy1hcGlAYXJiaXRydW0tMzQwMjE3LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwNTg3OTA0LCJpYXQiOjE2NzA1ODc3ODQsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMgaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9kcml2ZSJ9.je8MuzWk2sx33AWIipEBzwCWgtx5Jx2Sl5VzZSfH0DtqPJQga_hKGj-tOv6kjqaLzftUafvWLnkoRdiidoJNjwK3pt-VoYRHEHK12TOuEEGMV7rkfy-Q2BjLHVch0tQsYx5dk9lu52AV4DjAMsU8syYdFAoh0C6DVNvw1wXImvDq9gV8aGPMYhsCwqNjyO5H17MRF8K6NCFhlMINIoV4iyE9lCqV8qlCyi1_Yff8zLZAbXR_vDdw4GveOBpYlnndfDUqkwF7o2AkDw1KYbVKqyV3x6zPtV2R5ctPvkHiCWo5tcl4vJsWN4qG_RAAgk0XvylgTJPyMO-nNwI-AupmoQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.b0Aa9VdymdiSWt3ZVcilTf3CIFid6rLNam2fg1EmxO569luHKmEPIaq1knUDgvbqpwR_zlf5wXzr3TydzSaJ2Tc3Hc7916q48xeUCnYRZkKHe0Ew_-emA1cSDcssPHIb6Nv_rbphK0wRmT2GwogU37Fo5wf4luPV2ci04Hi2G9K4B6EHFXPKbeVde_2UcPPMNUOqr64EEaq0vohPUMVjDFenwgfY2_MC8i.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Fri, 09 Dec 2022 12:10:44 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9VdymdiSWt3ZVcilTf3CIFid6rLNam2fg1EmxO569luHKmEPIaq1knUDgvbqpwR_zlf5wXzr3TydzSaJ2Tc3Hc7916q48xeUCnYRZkKHe0Ew_-emA1cSDcssPHIb6Nv_rbphK0wRmT2GwogU37Fo5wf4luPV2ci04Hi2G9K4B6EHFXPKbeVde_2UcPPMNUOqr64EEaq0vohPUMVjDFenwgfY2_MC8i.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8",
          "properties": {
            "title": "Untitled spreadsheet",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Etc/GMT",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8/values:batchGet?ranges=System%20export!A1:D6
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9VdymdiSWt3ZVcilTf3CIFid6rLNam2fg1EmxO569luHKmEPIaq1knUDgvbqpwR_zlf5wXzr3TydzSaJ2Tc3Hc7916q48xeUCnYRZkKHe0Ew_-emA1cSDcssPHIb6Nv_rbphK0wRmT2GwogU37Fo5wf4luPV2ci04Hi2G9K4B6EHFXPKbeVde_2UcPPMNUOqr64EEaq0vohPUMVjDFenwgfY2_M[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8/values:batchGet?ranges=Status!A1:D6
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9VdymdiSWt3ZVcilTf3CIFid6rLNam2fg1EmxO569luHKmEPIaq1knUDgvbqpwR_zlf5wXzr3TydzSaJ2Tc3Hc7916q48xeUCnYRZkKHe0Ew_-emA1cSDcssPHIb6Nv_rbphK0wRmT2GwogU37Fo5wf4luPV2ci04Hi2G9K4B6EHFXPKbeVde_2UcPPMNUOqr64EEaq0vohPUMVjDFenwgfY2_MC8i......[...]
