---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJ0ZXN0LWRyaXZlLXNoZWV0cy1hcGlAYXJiaXRydW0tMzQwMjE3LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcxMTg3ODEyLCJpYXQiOjE2NzExODc2OTIsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMgaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9kcml2ZSJ9.vkZco_HY4SwUjtvY_nOLCPynsY3YQyaGEDGhEiYqq7c9t9NKY8SbqU3NaIyv4m3V5YGQgu4ChtxzX1a41dJGRoOqyJpLmPa3sltlpzR_cMhMGwXS0O-z-9p0Ka673sOsH8mnn2PJeO8Pbea-ubL-wFDEHbcV1mFsNuxQnWWg34yNJ_IFgXQm7duyUp3lIOMurWKeZ5XwtdKpwDe44Gz0yfMrdU8OLyl-Kkjdz9vmPP5JYGPc6Ugdey-5_r4SeAP62dOG-Lex8WlRaAg11RRA3ijPSn005eKSOa2Mf2O3CAp_IIryUYtCZ_1xIfznxSCKUB8iy85WQ3baR0GDAXRGYw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.b0AT7lpjAa9hu0GTvUvJ82wZ6t9uastoDtFQJq14IJkTdWJB6Qz_wmqNrOoEuMKwLCvklNNd6OyJoDR6lu4OioqHeuPfRO553Ohchs68dm-WDhbJzW8U4yrczEgEAS9gMvDRfdigQqv3Z3LmM4BpCCsS1l6rbdQ_-7VnHkYtACe_ulbMsJgts4wvhXxsUgYBnREvyE6HcYsBU7xB46cmWoNXjk6j-_kKkA.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Fri, 16 Dec 2022 10:49:12 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/12JAwO4FWcXoorMG8ui2vF1va0R4LtPLlnIsSXzgfbig
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0AT7lpjAa9hu0GTvUvJ82wZ6t9uastoDtFQJq14IJkTdWJB6Qz_wmqNrOoEuMKwLCvklNNd6OyJoDR6lu4OioqHeuPfRO553Ohchs68dm-WDhbJzW8U4yrczEgEAS9gMvDRfdigQqv3Z3LmM4BpCCsS1l6rbdQ_-7VnHkYtACe_ulbMsJgts4wvhXxsUgYBnREvyE6HcYsBU7xB46cmWoNXjk6j-_kKkA.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "12JAwO4FWcXoorMG8ui2vF1va0R4LtPLlnIsSXzgfbig",
          "properties": {
            "title": "Untitled spreadsheet",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Etc/GMT",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/12JAwO4FWcXoorMG8ui2vF1va0R4LtPLlnIsSXzgfbig/values/A1:D1:append?valueInputOption=RAW
    body:
      encoding: UTF-8
      string: '{"values":[["Tejaswini","Pune","Maharashtra","India"],["Anjali","Mumbai","Maharashtra","India"],["Avinash","Ahmedabad","Gujrat","India"],["Dhruvin","Ahmedabad","Gujrat","India"],["Sohan","Pune","Maharashtra","India"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0AT7lpjAa9hu0GTvUvJ82wZ6t9uastoDtFQJq14IJkTdWJB6Qz_wmqNrOoEuMKwLCvklNNd6OyJoDR6lu4OioqHeuPfRO553Ohchs68dm-WDhbJzW8U4yrczEgEAS9gMvDRfdigQqv3Z3LmM4BpCCsS1l6rbdQ_-7VnHkYtACe_ulbMsJgts4wvhXxsU[...]
[...]
