---
http_interactions:
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1EsjNcHASX7AD7JoejPojMMsPVdYUNwHFiNOsgKqkQ0w
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0AT7lpjBIfeAtoGdICH2e2kx3upLATeCqDoCj9mm8C9Ukp7CWNIdG9Q-sC7z5KQzl5weEZOibgT53Plllw28DeluqSidWJQKoLvl6UfakEId4wTnG3E8EXpaUbPit7DwBRXTmP3gflEMUmV0Gcvu8xxM0tJOBZwU-2h_GJ91RYO4RLFtOZmVgNYkEwgSpeeP2xvhGqo4vpZOKKuAu4ryGNEQhjXmB6kei.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1EsjNcHASX7AD7JoejPojMMsPVdYUNwHFiNOsgKqkQ0w",
          "properties": {
            "title": "Untitled spreadsheet",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Etc/GMT",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1EsjNcHASX7AD7JoejPojMMsPVdYUNwHFiNOsgKqkQ0w/values:batchGet?ranges=System%20export!A1:D6
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0AT7lpjBIfeAtoGdICH2e2kx3upLATeCqDoCj9mm8C9Ukp7CWNIdG9Q-sC7z5KQzl5weEZOibgT53Plllw28DeluqSidWJQKoLvl6UfakEId4wTnG3E8EXpaUbPit7DwBRXTmP3gflEMUmV0Gcvu8xxM0tJOBZwU-2h_GJ91RYO4RLFtOZmVgNYkEwgSpeeP2xvhGqo4vpZOKKuAu4ryGNEQhjXmB6[...]
