---
http_interactions:
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9Vdyklmoh3RKVE3ygZFe9mKGQqCbDrBT8uaBsJ8rIgeNY0hftkDZsGQrEwpvAxWSwf5qFAqswvlJYqscMueY8I63JDr41XCQdj5x2KwU6f6Jo0AMLQX1IKuKjwZHi3Fs8-WOq3ruMYLCC6rhjuVb_SjNiUyfl_vr-Z0EpiSai3r6D8WeE29MkS-H8EUH78eYDGNJS5_KZluLY3OFSjbiJIBh0X7r5j.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8",
          "properties": {
            "title": "Untitled spreadsheet",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Etc/GMT",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8/values:batchGet?ranges=System%20export!A1:D6
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9Vdyklmoh3RKVE3ygZFe9mKGQqCbDrBT8uaBsJ8rIgeNY0hftkDZsGQrEwpvAxWSwf5qFAqswvlJYqscMueY8I63JDr41XCQdj5x2KwU6f6Jo0AMLQX1IKuKjwZHi3Fs8-WOq3ruMYLCC6rhjuVb_SjNiUyfl_vr-Z0EpiSai3r6D8WeE29MkS-H8EUH78eYDGNJS5_KZluLY3OFSjbiJIBh0X7[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8/values:batchGet?ranges=Status!A1:D6
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9Vdyklmoh3RKVE3ygZFe9mKGQqCbDrBT8uaBsJ8rIgeNY0hftkDZsGQrEwpvAxWSwf5qFAqswvlJYqscMueY8I63JDr41XCQdj5x2KwU6f6Jo0AMLQX1IKuKjwZHi3Fs8-WOq3ruMYLCC6rhjuVb_SjNiUyfl_vr-Z0EpiSai3r6D8WeE29MkS-H8EUH78eYDGNJS5_KZluLY3OFSjbiJIBh0X7r5j......[...]
