---
http_interactions:
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/12JAwO4FWcXoorMG8ui2vF1va0R4LtPLlnIsSXzgfbig
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0AT7lpjAa9hu0GTvUvJ82wZ6t9uastoDtFQJq14IJkTdWJB6Qz_wmqNrOoEuMKwLCvklNNd6OyJoDR6lu4OioqHeuPfRO553Ohchs68dm-WDhbJzW8U4yrczEgEAS9gMvDRfdigQqv3Z3LmM4BpCCsS1l6rbdQ_-7VnHkYtACe_ulbMsJgts4wvhXxsUgYBnREvyE6HcYsBU7xB46cmWoNXjk6j-_kKkA.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "12JAwO4FWcXoorMG8ui2vF1va0R4LtPLlnIsSXzgfbig",
          "properties": {
            "title": "Untitled spreadsheet",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Etc/GMT",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/12JAwO4FWcXoorMG8ui2vF1va0R4LtPLlnIsSXzgfbig/values/'status'!A1:Z1000:clear
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0AT7lpjAa9hu0GTvUvJ82wZ6t9uastoDtFQJq14IJkTdWJB6Qz_wmqNrOoEuMKwLCvklNNd6OyJoDR6lu4OioqHeuPfRO553Ohchs68dm-WDhbJzW8U4yrczEgEAS9gMvDRfdigQqv3Z3LmM4BpCCsS1l6rbdQ_-7VnHkYtACe_ulbMsJgts4wvhXxsUgYBnREvyE6HcYsBU7xB46cmWoNXjk6j-_kKkA..........[...]
- request:
    method: put
    uri: https://sheets.googleapis.com/v4/spreadsheets/12JAwO4FWcXoorMG8ui2vF1va0R4LtPLlnIsSXzgfbig/values/'status'!A1:Z1000?valueInputOption=USER_ENTERED
    body:
      encoding: UTF-8
      string: '{"majorDimension":"ROWS","values":[["THIS SPREADSHEET IS AUTOMATICALLY
        GENERATED BY THE SELMA SYSTEM. DO NOT MANUALLY EDIT THIS SPREADSHEET."],["Uploading
        data in progress since… 2022-12-16 11:21:10 +0000"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0AT7lpjAa9hu0GTvUvJ82wZ6t9uastoDtFQJq14IJkTdWJB6Qz_wmqNrOoEuMKwLCvklNNd6OyJoDR6lu4OioqHeuPfRO553Ohchs68dm-WDhbJzW8U4yrczEgEAS9gMvDRfdigQqv3Z3LmM4BpCCsS1l6rbdQ_-7VnHkYtACe_ulbMsJgts4wvhXxsUgYBnREvyE6HcYsBU7x[...]
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/12JAwO4FWcXoorMG8ui2vF1va0R4LtPLlnIsSXzgfbig/values/'System%20export'!A1:Z1000:clear
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0AT7lpjAa9hu0GTvUvJ82wZ6t9uastoDtFQJq14IJkTdWJB6Qz_wmqNrOoEuMKwLCvklNNd6OyJoDR6lu4OioqHeuPfRO553Ohchs68dm-WDhbJzW8U4yrczEgEAS9gMvDRfdigQqv3Z3LmM4BpCCsS1l6rbdQ_-7VnHkYtACe_ulbMsJgts4wvhXxsUgYBnREvyE6HcYsBU7xB46cmWoNXjk6j-_kKkA.[...]
- request:
    method: put
    uri: https://sheets.googleapis.com/v4/spreadsheets/12JAwO4FWcXoorMG8ui2vF1va0R4LtPLlnIsSXzgfbig/values/'System%20export'!A1:Z1000?valueInputOption=USER_ENTERED
    body:
      encoding: UTF-8
      string: '{"majorDimension":"ROWS","values":[["hello2","thi2s","is2","a2","test2"],["hello","this","is","a","test"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0AT7lpjAa9hu0GTvUvJ82wZ6t9uastoDtFQJq14IJkTdWJB6Qz_[...]
[...]
