---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJ0ZXN0LWRyaXZlLXNoZWV0cy1hcGlAYXJiaXRydW0tMzQwMjE3LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcxNjIxNDk5LCJpYXQiOjE2NzE2MjEzNzksInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMgaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9kcml2ZSJ9.gNAQ8tAg1VzL_zFPW_1_AQEMwgQEs1NZSNnSNOTwOyfjOrB1bMMwd_udF2dETJyqxIAmMRC9yVqicvA0K4sS5R22pJdyzkvLtPsUj5yGAbiys7KYvb2TIZO-fpyRA5LmVEC-FPvRvtjLK_-zpJkvdzEZiB9mNoMzVZ_8ScnB9jCk6Gvrod3XOKrOmjbHVrwzlPsEGeYTJwmAzAHd814nRvgVuWGa8hz7foEuLndNXOg859dMQfmiP-C0Y85pi0Xnz79icWN4tijSVdE2G9uzkERTuBgFEQjLySycnEsOxkzoCpn4uuIwAGKGOeyjQGEL0dt5Nq75sTeYw-34MwjN0w
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.b0AT7lpjDTq-fs30QRdazFo2UBnJbLaiuL9JRP7QH8SwXru4IYN8ILDhoFsOzavGsHaaJ6fLAsmSTt50_4R4zdfihB1HQRkiLLXJlh2apKBUe5Fb1MX5N-7-wmWwFkBDyVKe5WjVIbKL7riJcn5jGT2Nm-dOx0XKSCMiT9SnDpFFmpukovUy9kwbg8Rd1cPEk-eXwhBST4WDNODTm8l53Cim4HNeoyJux6.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Wed, 21 Dec 2022 11:17:19 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1rVp5IVZhax3jPyP_fdpdpM_z-MdQU0QPwWhnv6bIBJM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0AT7lpjDTq-fs30QRdazFo2UBnJbLaiuL9JRP7QH8SwXru4IYN8ILDhoFsOzavGsHaaJ6fLAsmSTt50_4R4zdfihB1HQRkiLLXJlh2apKBUe5Fb1MX5N-7-wmWwFkBDyVKe5WjVIbKL7riJcn5jGT2Nm-dOx0XKSCMiT9SnDpFFmpukovUy9kwbg8Rd1cPEk-eXwhBST4WDNODTm8l53Cim4HNeoyJux6.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1rVp5IVZhax3jPyP_fdpdpM_z-MdQU0QPwWhnv6bIBJM",
          "properties": {
            "title": "Untitled spreadsheet",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Etc/GMT",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1rVp5IVZhax3jPyP_fdpdpM_z-MdQU0QPwWhnv6bIBJM/values/A1:Z4000:append?valueInputOption=RAW
    body:
      encoding: UTF-8
      string: '{"values":[["Tejaswini","Pune","Maharashtra","India"],["Anjali","Mumbai","Maharashtra","India"],["Avinash","Ahmedabad","Gujrat","India"],["Dhruvin","Ahmedabad","Gujrat","India"],["Sohan","Pune","Maharashtra","India"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0AT7lpjDTq-fs30QRdazFo2UBnJbLaiuL9JRP7QH8SwXru4IYN8ILDhoFsOzavGsHaaJ6fLAsmSTt50_4R4zdfihB1HQRkiLLXJlh2apKBUe5Fb1MX5N-7-wmWwFkBDyVKe5WjVIbKL7riJcn5jGT2Nm-dOx0XKSCMiT9SnDpFFmpukovUy9kwbg8Rd1[...]
[...]
