---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJ0ZXN0LWRyaXZlLXNoZWV0cy1hcGlAYXJiaXRydW0tMzQwMjE3LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwNTg0MTM2LCJpYXQiOjE2NzA1ODQwMTYsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMgaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9kcml2ZSJ9.RBXIKh9mJZarPrQa-ADV9vh4YYdY2rP067kvwM6vkN1uKodmrBGi_JmsMaSDDvsNcXIIU-uTCzyK_CI95f9rDEqUxqsGFV32QVoJ5saFR_TjWtbJ4zysPSL6_fyNz3hpiPOwf00318MJnG5vg-v0KJybLPh5xDW5UD4tCiFdtTFvXDObld2eBY3OGsuLQjl6AB0HzEa8H7FrC9ZLBI39XkLXtedcrqg6M5ljXYlFa5KeXTzPWzQTAh_B5KhWuACwAsgI7LscjJpMobo3UCnsVhRqVTsQcPe_ZD2ufYVHvacj6OD7WCfX8G6472N_5jB148pP5eckLUv1drIUcWqj6A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.b0Aa9Vdynn3J_Xu7IRm2jl1Mn2MZ4xD6BmkGaw-wdY-waqr3j_vSXg8Q_4Mtcau7oZAayjSwSsdUdGjHOS9IDX_q_UE1JllYBSIxxSZOCcEjXceadQWf29gYBFMoaK2XukOEFwyDqbzvDKZelNMQPib0o7bN1rW78abkUGFcPHuaqHEjku3X2GARQW2IST2OAGsNgL07_EdUnssCpabPUK5UNIWSmhYs6g.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Fri, 09 Dec 2022 11:07:56 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0Aa9Vdynn3J_Xu7IRm2jl1Mn2MZ4xD6BmkGaw-wdY-waqr3j_vSXg8Q_4Mtcau7oZAayjSwSsdUdGjHOS9IDX_q_UE1JllYBSIxxSZOCcEjXceadQWf29gYBFMoaK2XukOEFwyDqbzvDKZelNMQPib0o7bN1rW78abkUGFcPHuaqHEjku3X2GARQW2IST2OAGsNgL07_EdUnssCpabPUK5UNIWSmhYs6g.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8",
          "properties": {
            "title": "Untitled spreadsheet",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Etc/GMT",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: put
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8/values/A1:D1?valueInputOption=RAW
    body:
      encoding: UTF-8
      string: '{"values":[["Name","City","State","Country"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0Aa9Vdynn3J_Xu7IRm2jl1Mn2MZ4xD6BmkGaw-wdY-waqr3j_vSXg8Q_4Mtcau7oZAayjSwSsdUdGjHOS9IDX_q_UE1JllYBSIxxSZOCcEjXceadQWf29gYBFMoaK2XukOEFwyDqbzvDKZelNMQPib0o7bN1rW78abkUGFcPHuaqHEjku3X2GARQW2IST2OAGsNgL07_EdUnssCpabPUK5UNIWSmhYs6g.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8",
          "updatedRange": "Sheet1!A1:D1",
          "updatedRows": 1,
          "updatedColumns": 4,
          "updatedCells": 4
        }
  recorded_at: Fri, 09 Dec 2022 11:07:58 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9Vdynn3J_Xu7IRm2jl1Mn2MZ4xD6BmkGaw-wdY-waqr3j_vSXg8Q_4Mtcau7oZAayjSwSsdUdGjHOS9IDX_q_UE1JllYBSIxxSZOCcEjXceadQWf29gYBFMoaK2XukOEFwyDqbzvDKZelNMQPib0o7bN1rW78abkUGFcPHuaqHEjku3X2GARQW2IST2OAGsNgL07_EdUnssCpabPUK5UNIWSmhYs6g..........................................[...]
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8/values/A1:D1:append?valueInputOption=RAW
    body:
      encoding: UTF-8
      string: '{"values":[["Tejaswini","Pune","Maharashtra","India"],["Anjali","Mumbai","Maharashtra","India"],["Avinash","Ahmedabad","Gujrat","India"],["Dhruvin","Ahmedabad","Gujrat","India"],["Sohan","Pune","Maharashtra","India"]]}'
    headers:
      Content-Type:
      - application/json
      [...]
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"addSheet":{"properties":{"gridProperties":{"columnCount":1},"title":"status"}}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0Aa9VdynuMvY0n78-cLeyscs65vkufjWKJyEZAYnIn8KrFNiz6IUc2GKt-elrKgw4ylrLj2hM-GremnT5oX-XZOf4Ctu7kbX-uHGPVIERarFfLt9dGcyDOY_3D8W0FGfTyvcERI3eT7relXhEtwFX8FOyMHW2dRh1R6qVg8Ip_r2SwXIpVWRSYA6jqbjumxMnQPVvvY4D5wiflHjq7QgBsIgm-PnwtySt.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8",
          "replies": [
            {
              "addSheet": {
                "properties": {
                  "sheetId": 144069098,
                  "title": "status",
                  "index": 1,
                  "sheetType": "GRID",
                  "gridProperties": {
                    "rowCount": 1000,
                    "columnCount": 1
                  }
                }
              }
            }
          ]
        }
  recorded_at: Fri, 09 Dec 2022 11:08:00 GMT
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8/values/'status'!A1:Z1000:clear
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9VdynuMvY0n78-cLeyscs65vkufjWKJyEZAYnIn8KrFNiz6IUc2GKt-elrKgw4ylrLj2hM-GremnT5oX-XZOf4Ctu7kbX-uHGPVIERarFfLt9dGcyDOY_3D8W0FGfTyvcERI3eT7relXhEtwFX8FOyMHW2dRh1R6qVg8Ip_r2SwXIpVWRSYA6jqbjumxMnQPVvvY4D5wiflHjq7QgBsIgm-PnwtySt..........[...]
- request:
    method: put
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8/values/'status'!A1:Z1000?valueInputOption=USER_ENTERED
    body:
      encoding: UTF-8
      string: '{"majorDimension":"ROWS","values":[["THIS SPREADSHEET IS AUTOMATICALLY
        GENERATED BY THE SELMA SYSTEM. DO NOT MANUALLY EDIT THIS SPREADSHEET."],["Uploading
        data in progress since… 2022-12-09 11:07:59 +0000"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0Aa9VdynuMvY0n78-cLeyscs65vkufjWKJyEZAYnIn8KrFNiz6IUc2GKt-elrKgw4ylrLj2hM-GremnT5oX-XZOf4Ctu7kbX-uHGPVIERarFfLt9dGcyDOY_3D8W0FGfTyvcERI3eT7relXhEtwFX8FOyMHW2dRh1R6qVg8Ip_r2SwXIpVWRSYA6jqbjum[...]
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8/values/'System%20export'!A1:Z1000:clear
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9VdynuMvY0n78-cLeyscs65vkufjWKJyEZAYnIn8KrFNiz6IUc2GKt-elrKgw4ylrLj2hM-GremnT5oX-XZOf4Ctu7kbX-uHGPVIERarFfLt9dGcyDOY_3D8W0FGfTyvcERI3eT7relXhEtwFX8FOyMHW2dRh1R6qVg8Ip_r2SwXIpVWRSYA6jqbjumxMnQPVvvY4D5wiflHjq7QgBsIgm-PnwtySt.[...]
- request:
    method: put
    uri: https://sheets.googleapis.com/v4/spreadsheets/15lMV7JRt0mszjTZh2e2-uA7h7-qA3kKPt-vw6aUPGw8/values/'System%20export'!A1:Z1000?valueInputOption=USER_ENTERED
    body:
      encoding: UTF-8
      string: '{"majorDimension":"ROWS","values":[["hello","this","is","a","test"],["hello","this","is","a","test"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0Aa9VdynuMvY0n78-cLeyscs65vkufjWKJyEZAYnIn8KrFNiz6IUc2GK[...]
[...]
