---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJ0ZXN0LWRyaXZlLXNoZWV0cy1hcGlAYXJiaXRydW0tMzQwMjE3LmlhbS5nc2VydmljZWFjY291bnQuY29tIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjcwNDM0ODUxLCJpYXQiOjE2NzA0MzQ3MzEsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9zcHJlYWRzaGVldHMgaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9kcml2ZSJ9.B4KhujukLIZQw67dfjlxU5ayKQ0Uaw7hHTGzI15NcVOjZ4JZ_yz3J2NgL5oE518U_Gr2tx0cd4m8pgicltGrCrMr4KQxE1SmcZ8nkbIAoKjrcLVbbGxEolXPPJiYjMc_JvnIo7GebflFAc0vk_HfulZVGClMZ_xZ4W1SwkutSJm9G9cMA5qvW_jHVxAoZO88x2bXazOwB2aBbTUhPg9c6chv9TPh2zg6HsoD-5rwCDPvAdZhEp8eTX8LezqU7jEM2HfZn_mja00smDLQKnyL8MXEopjuv-mUKlZpLutaB3cTwZriZ9-nfkzEzZ58HmdzxH0CXxrv7NyW20zOgiqvVw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.b0Aa9Vdylp2ox0OFK32aUrgIbxYCgMVzKQJ3XMNhXqxcJmakSt8KoaNu3LEkeDZ48Pu7UVl2JdQLqLMtDxIu6RJ3BPmlkqDpvK5p3MoavsxNyWjwOJPK2AR_BhyoAvHclXu0-hvLBLU9iHdTLVD7HLtU0zqR2MXIjg1zf70gc0Zh9_AU2l9R8U5UCW4n5aVQ8cn6wyCcVLmWdDA9x-wColSGIWaVFNeBbH.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Wed, 07 Dec 2022 17:39:51 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_9c-0Q6aLEuYxLh5UkASGiR3Dxh85gJUUoBd67v2Cxo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9Vdylp2ox0OFK32aUrgIbxYCgMVzKQJ3XMNhXqxcJmakSt8KoaNu3LEkeDZ48Pu7UVl2JdQLqLMtDxIu6RJ3BPmlkqDpvK5p3MoavsxNyWjwOJPK2AR_BhyoAvHclXu0-hvLBLU9iHdTLVD7HLtU0zqR2MXIjg1zf70gc0Zh9_AU2l9R8U5UCW4n5aVQ8cn6wyCcVLmWdDA9x-wColSGIWaVFNeBbH.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1_9c-0Q6aLEuYxLh5UkASGiR3Dxh85gJUUoBd67v2Cxo",
          "properties": {
            "title": "Untitled spreadsheet",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Etc/GMT",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_9c-0Q6aLEuYxLh5UkASGiR3Dxh85gJUUoBd67v2Cxo/values/A1:D1:append?valueInputOption=RAW
    body:
      encoding: UTF-8
      string: '{"values":[["Tejaswini","Pune","Maharashtra","India"],["Anjali","Mumbai","Maharashtra","India"],["Avinash","Ahmedabad","Gujrat","India"],["Dhruvin","Ahmedabad","Gujrat","India"],["Sohan","Pune","Maharashtra","India"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0Aa9Vdylp2ox0OFK32aUrgIbxYCgMVzKQJ3XMNhXqxcJmakSt8KoaNu3LEkeDZ48Pu7UVl2JdQLqLMtDxIu6RJ3BPmlkqDpvK5p3MoavsxNyWjwOJPK2AR_BhyoAvHclXu0-hvLBLU9iHdTLVD7HLtU0zqR2MXIjg1zf70gc0Zh9_AU2l9R8U5UCW4n5[...]
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_9c-0Q6aLEuYxLh5UkASGiR3Dxh85gJUUoBd67v2Cxo:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"addSheet":{"properties":{"gridProperties":{"columnCount":1},"title":"status"}}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0Aa9VdynhWs7pdMK-rO3C2nC2gcHVTDkrEgTNk3tNoA8v0JR6iDTVGJ-GR53yWgww8WiTzKzHU4T-k6e9zJY6en4C5lbXGkc8trLnJOkliW6akhQIXs84JFML9Dl-Zld46mlTEE9iDlRBPXUjGaWkcUcbtc8s2L7TWwFq_0sq2ZDW8mF7a9GTHF8ijmnDHbvybs_CzB1XnoBzRdFb-JYNXa5OuGrj1PHf.......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1_9c-0Q6aLEuYxLh5UkASGiR3Dxh85gJUUoBd67v2Cxo",
          "replies": [
            {
              "addSheet": {
                "properties": {
                  "sheetId": 1226475569,
                  "title": "status",
                  "index": 1,
                  "sheetType": "GRID",
                  "gridProperties": {
                    "rowCount": 1000,
                    "columnCount": 1
                  }
                }
              }
            }
          ]
        }
  recorded_at: Wed, 07 Dec 2022 17:39:53 GMT
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_9c-0Q6aLEuYxLh5UkASGiR3Dxh85gJUUoBd67v2Cxo/values/'status'!A1:Z1000:clear
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9VdynhWs7pdMK-rO3C2nC2gcHVTDkrEgTNk3tNoA8v0JR6iDTVGJ-GR53yWgww8WiTzKzHU4T-k6e9zJY6en4C5lbXGkc8trLnJOkliW6akhQIXs84JFML9Dl-Zld46mlTEE9iDlRBPXUjGaWkcUcbtc8s2L7TWwFq_0sq2ZDW8mF7a9GTHF8ijmnDHbvybs_CzB1XnoBzRdFb-JYNXa5OuGrj1PHf..........[...]
- request:
    method: put
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_9c-0Q6aLEuYxLh5UkASGiR3Dxh85gJUUoBd67v2Cxo/values/'status'!A1:Z1000?valueInputOption=USER_ENTERED
    body:
      encoding: UTF-8
      string: '{"majorDimension":"ROWS","values":[["THIS SPREADSHEET IS AUTOMATICALLY
        GENERATED BY THE SELMA SYSTEM. DO NOT MANUALLY EDIT THIS SPREADSHEET."],["Uploading
        data in progress since… 2022-12-07 17:39:53 +0000"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0Aa9VdynhWs7pdMK-rO3C2nC2gcHVTDkrEgTNk3tNoA8v0JR6iDTVGJ-GR53yWgww8WiTzKzHU4T-k6e9zJY6en4C5lbXGkc8trLnJOkliW6akhQIXs84JFML9Dl-Zld46mlTEE9iDlRBPXUjGaWkcUcbtc8s2L7TWwFq_0sq2ZDW8mF7a9GTHF8ijmnDH[...]
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_9c-0Q6aLEuYxLh5UkASGiR3Dxh85gJUUoBd67v2Cxo/values/'System%20export'!A1:Z1000:clear
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.b0Aa9VdynhWs7pdMK-rO3C2nC2gcHVTDkrEgTNk3tNoA8v0JR6iDTVGJ-GR53yWgww8WiTzKzHU4T-k6e9zJY6en4C5lbXGkc8trLnJOkliW6akhQIXs84JFML9Dl-Zld46mlTEE9iDlRBPXUjGaWkcUcbtc8s2L7TWwFq_0sq2ZDW8mF7a9GTHF8ijmnDHbvybs_CzB1XnoBzRdFb-JYNXa5OuGrj1PHf.[...]
- request:
    method: put
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_9c-0Q6aLEuYxLh5UkASGiR3Dxh85gJUUoBd67v2Cxo/values/'System%20export'!A1:Z1000?valueInputOption=USER_ENTERED
    body:
      encoding: UTF-8
      string: '{"majorDimension":"ROWS","values":[["hello","this","is","a","test"],["hello","this","is","a","test"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.b0Aa9VdynhWs7pdMK-rO3C2nC2gcHVTDkrEgTNk3tNoA8v0JR6iDTVGJ-[...]
[...]
